.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 0px;
  padding: 4px 0;
  background-color: #e3e8ef;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  animation: ease-in-out;
}

.tt-suggestion {
  padding: 3px 5px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
#home{
  margin: auto;
}

.container {
  margin: 0;
  padding: 0;
  margin-right: -20px;
  max-width: 100%;
}

body {
    margin: 0;
}

.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-group-item:hover {
  border-color: blue;
}

@keyframes reveal {
  from {height: 0px;}
  to {height: 458px;}
}

.postersContainer {
  height: 458px;
  /* width: 392.8px */
  animation-name: reveal;
  animation-duration: 2s;
  overflow: hidden;
}
/* .postersContainer.loaded {
  height: 458px;
} */


h2 {
  padding-top: 15px;
}

.h4 {
  color: white;
}
.createpage {
  margin-left: 10%;
  margin-right: 10%;
}
.navbar{
display: flex;
justify-content: space-around;
/*background-color: black;*/
}

.qEntry{
  display: inline-block;
  justify-content: center;
}
.center {
  margin: auto;
}
.nav-brand {
  color: white;
  margin-left: 0;
  font-size: 40px;
  padding-right: 40px;
}
#logout:hover{
  cursor: pointer;
  color: #2257ad;
}

.signInForm {
  margin-top: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
 /* margin: 50%;
  width: 50%;*/
}

.signInForm * {
  margin: 5px;
}

.btn {
  border: 1px grey solid;
}

.dropper {
  position: relative;
  padding-right: 0%;
  margin-right: 2%;
  transition: padding-right 2s
}
.dropper:hover {
  padding-right: 25%
}

.btnSub {
  float: right;
}
.subH {
  float: left;
}

.userInput, .passInput {
  padding: 5px;
  margin: 5px 0px 5px 0px;
} 

#title {
  font-size: 40px;
  font-weight: bolder;
  /*background: -webkit-linear-gradient(green, yellow);*/
  /* webkit-background-clip: text; */
  /*-webkit-text-fill-color: transparent;*/
  font-family: 'Helvetica';
  padding: 0;
}

.searchComp {
  padding-top: 20px;
  padding-bottom: 20px
}
.card-header {
  /*color: grey;*/
  display: flex;
  justify-content: center;
}

/* TEMPORARY */
.card-img-list { 
  height: 250px;
  width: 150px
}

.center {
  margin: auto;
}

.userHead {
  font-size: 250%;
  text-align: center;
}

.userEvents {
  font-size: 250%;
  text-align: center;
}

.posters {
  height: 250;
  width: 150px;
}

.eventButtons {
  font-size: 200%;
  text-align: center;
  display: block;
}

.row {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.eventsContainer {
  height: 80%;
}

.invited {
  margin-top: 6%;
  margin-bottom: 7%;
}

.going {
  margin-top: 7%;
  margin-bottom: 7%;
}

.goToEvent {
  background-color: rgba(255, 163, 0, 0.82);
}

.hosting {
  margin-top: 7%;
  margin-bottom: 10%;
}

.invitedButton {
  background-color: #dfe3ee;
}

.goingButton {
  background-color: #8b9dc3;
}

.hostingButton {
  background-color: #3b5998;
}

.voterBox {
  display:flex;
  justify-content:center;
}
.voterBox > div {
  margin:10px;
  background-color:#bada55;
}
.movieOption {
  width:300px;
}

.mapOfEvents {
  width: 100%;
  text-align: center;
}

.video-list-entry {
  /* height: 400px; */
  width: 500px;
  /* margin-right: 1%; */
  /* transition: width 2s; */
}

.video-list-entry:hover{
  /* width: 500px; */
}

.individualRecipe {
  display: inline-block;
  margin: 0px 2px 0px 2px;
  text-align: center;
  overflow: hidden;
  width: 300px;
  /* border: solid 2px rgb(96, 218, 218); */
  /* width: 40%; */
}

.submitFood, .searchFood {
  width: 100%;
  text-align: center;
  font-style: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sfInputGroup {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 25%;
}

#chatTextInput {
  width: 100%;
}
#chooseThis .text {
  position: relative;
  bottom:200px;
  visibility: hidden;
}

#chooseThis:hover .text {
  visibility: visible;
}

#chooseThis:hover .foodImage {
  opacity: .5;
}

/* .foodInput {
  width: auto;
} */
/*.navLinks {
  display: flex;
  justify-content: space-between;
}*/
/* NAV BAR STYLING 


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.Link {
    display: block;
    color: #000;
    margin-left:10%;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.Link.active {
    background-color: #4CAF50;
    color: white;
}

.Link:hover:not(.active) {
    background-color: #555;
    color: white;
}
*/

#appBody {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

/* .chatMessageText {
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 1%;
} */

#messageDisplayContainer .list-group-item {
  border-color: grey !important;
}