.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 0px;
  padding: 4px 0;
  background-color: #e3e8ef;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  animation: ease-in-out;
}

.tt-suggestion {
  padding: 3px 5px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
#home{
  margin: auto;
}

.container {
  margin: 0;
  padding: 0;
  margin-right: -20px;
  max-width: 100%;
}

body {
    margin: 0;
}

.list-group-item:hover {
  background-color: blue;
}

h2 {
  padding-top: 15px;
}

.h4 {
  color: white;
}
.createpage {
  margin-left: 10%;
  margin-right: 10%;
}
.navbar{
display: flex;
justify-content: space-around;
/*background-color: black;*/
}

.qEntry{
  display:flex;
  justify-content: center;
}
.center {
  margin: auto;
}
.nav-brand {
  color: white;
  margin-left: 0;
  font-size: 40px;
  padding-right: 40px;
}
#logout:hover{
  cursor: pointer;
  color: #2257ad;
}

.signInForm {
  margin-top: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
 /* margin: 50%;
  width: 50%;*/
}

.signInForm * {
  margin: 5px;
}

.btn {
  border: 1px grey solid;
}

.userInput, .passInput {
  padding: 5px;
  margin: 5px 0px 5px 0px;
} 

#title {
  font-size: 40px;
  font-weight: bolder;
  /*background: -webkit-linear-gradient(green, yellow);*/
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  font-family: 'Helvetica';
  padding: 0;
}

.searchComp {
  padding-top: 20px;
  padding-bottom: 20px
}
.card-header {
  /*color: grey;*/
  display: flex;
  justify-content: center;
}

.center {
  margin: auto;
}
/*.navLinks {
  display: flex;
  justify-content: space-between;
}*/
/* NAV BAR STYLING 


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.Link {
    display: block;
    color: #000;
    margin-left:10%;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.Link.active {
    background-color: #4CAF50;
    color: white;
}

.Link:hover:not(.active) {
    background-color: #555;
    color: white;
}
*/
